#celular {
    appearance: textfield;
}

#quantidade, #valor {
    -moz-appearance: textfield;
}

.radio--unidades {
    display: flex;
    gap: 5px;
    padding-top: 15px;
}

.formulario--teste h3 {
    padding-left: 0.5rem;
}

#quantidade::-webkit-outer-spin-button,
#quantidade::-webkit-inner-spin-button,
#valor::-webkit-outer-spin-button,
#valor::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formulario--valor {
    grid-column: 2/3;
    grid-row: 2/3;
}

.formulario--altera-pontos {
    margin-bottom: 0 !important;
}

/* RESPONSIVO */

@media screen and (min-width: 0px) {
    .sessao-cadastro {
        height: 67vh;
    }

    .botao {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .sessao-cadastro {
        height: 68.7vh;
    }
    
    .forumulario {
        grid-template-columns: calc(25% - .5rem) calc(25% - .5rem) 25%;
    }

    .formulario-ad {
        grid-template-columns: calc(33% - .5rem) calc(33% - .5rem) 33%;
    }

    .formulario, .formulario-ad {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-rows: auto auto;
        justify-content: center;
    }
    
    .formulario--nome {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .formulario--email {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .formulario--celular {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .pos-botao {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .botao {
        width: 35%;
    }

    .formulario--sku {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .formulario--produto {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .formulario--quantidade {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .formulario--valor {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .formulario--nome-usuario {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
    .formulario--celular-usuario {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .formulario--email-usuario {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .formulario--pontos-usuario {
        grid-column: 3/4;
        grid-row: 2/3;
    }
}

@media screen and (max-height: 715px) {
    .sessao-cadastro {
        height: auto;
        margin-bottom: 1rem;
    }
}